@import "/src/globalVars.css";

.InfoCard{
  background-color: var(--main-color);
  border-radius: 0.5em;
  box-shadow: -5px 5px 5px 0px rgb(80, 79, 79);
  transition: ease-in;
  transition-duration: 0.2s;
  max-height: 100%;
  overflow: hidden;
  }


.appear{animation: 1s ease-in 0s 1 appear;}

.unmount{background-color: red;
}

.InfoCard:hover{
transform: translate(5px,-5px);
box-shadow: -10px 10px 5px 0px rgb(80, 79, 79);
cursor: pointer;

}

@keyframes appear {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
  }
}

.cardHeader{display: flex;}

.cardHeader img{
  max-width: 70%;
  margin-left: 0.5em ;
  margin-top: 10px;
  border: 1px solid white;
  
}

.cardNumber{
margin: 0;
background-color: white;
width: 1.5em;
height: 1.5em;
border-radius: 2px;
text-align: center;
font-size: 12px;
text-align: center;
}

.writtenInfo > p {margin: 0;}