@import "/src/globalVars.css";

.InfoCard{
    background-color: var(--main-color);
  border-radius: 0.5em;
  box-shadow: -5px 5px 5px 0px rgb(80, 79, 79);
  transition: ease-in;
  transition-duration: 0.2s;
  height: 210px;
  width: 167px;
  overflow: hidden;
  }

  .InfoCard img{
    width: 90%;
    display: block;
    margin: 0.5em auto;
    border-radius: 0.5em;
  }

.appear{animation: 1s ease-in 0s 1 appear;}


.InfoCard:hover{
transform: translate(5px,-5px);
box-shadow: -10px 10px 5px 0px rgb(80, 79, 79);
cursor: grab;
}

.InfoCard:active{
  cursor: grabbing;
}

@keyframes appear {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
  }
}



.cardHeader{display: flex; 
  justify-content: flex-start;
}


.InfoCard .cardHeader .cardNumber{
  margin:0;
  padding-left: 1px;
  padding-right: 2px;
  padding-top: 2px;
background-color: white;
width: 1.5em;
height: 1.5em;
border-radius: 2px;
text-align: center;
font-size: 12px;

}


.InfoCard .cardHeader p:nth-child(2) {
  margin: 0 auto;
  font-size:100%;
  width: 100%;
text-align: center;
background-color: var(--main-color);
color: white;
}

/* when clicked  //////////////////////////////////////////////// */


.clicked{
  background-image: url(https://wallpapercave.com/wp/wp6737133.png); 
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; 
  border-radius: 0.5em;
  box-shadow: -5px 5px 5px 0px rgb(80, 79, 79);
  transition: ease-in;
  transition-duration: 0.2s;
  max-height: 100%;
  grid-column: 2/5;
  grid-row: 1/4;
  border: 1px solid black;
  overflow: auto;
}

.clicked::-webkit-scrollbar {
  width: 5px;
    }

 
.clicked::-webkit-scrollbar-thumb {
  
  background-color: rgb(172, 109, 80);
  border-radius: 2px;
  
}

.clicked:hover{
  cursor: pointer;
}

.clicked .cardHeader p:nth-child(2) {
  z-index: 0;
  margin: 0 auto;
  font-size: 3em;
  width: 100%;
text-align: center;
background-color: var(--main-color);
color: white;
}

.clicked .cardNumber{display: none;}

.clicked img{border-radius: 15px;
  border: 1px solid black;
  display: block;
  margin: 3em auto 0;
  max-width: 60%;
}
  
  .writtenInfo{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content:flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 1em auto;
    width: 60%;
    height: 30%;
    border-radius: 0.5em;
    border: 1px solid black;
    box-sizing: border-box;
  
  }

  .writtenInfo > div{
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 1em;
    justify-self: center;
    font-size: 1.2em;
    
  }

  .writtenInfo > div > p{display: inline-block;
  margin: 0;
}


  .propertyName{
    color: var(--main-color);
  }