@import "/src/globalVars.css";

#MainContainer{
  width: 70vw;
  height: 700px;
  background-color: white;
  box-shadow: -5px 5px 5px 0px black;
  margin: 15px auto;
  border-radius: 1em;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  grid-gap: 20px;
  }

  @media(max-width:1365px){
    #MainContainer{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      height: 950px;
    }
  }

  @media(max-width:1090px){
    #MainContainer{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      height: 1200px;
    }
  }

  @media(max-width:839px){
    #MainContainer{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      height: 1900px;
    }
  }

  @media(max-width:563px){
    #MainContainer{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      height: 3500px;
    }
  }


.loadingContainer{
  width: 70vw;
  height: 700px;
  background:linear-gradient(90deg, white 40%,  rgb(224, 223, 223) 40%,rgb(224, 223, 223) 45%, white 45%);
  box-shadow: -5px 5px 5px 0px black;
  margin: 15px auto;
  border-radius: 1em;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  animation-name: loadingAnimation;
  animation-timing-function:linear;
    animation-duration: 2s;
  animation-iteration-count: infinite;
  
}

@keyframes loadingAnimation{
    0%{
        background-position: 0vw;
    }
    100%{background-position: 70vw;}
  
  }
  
  .loadingContainer p{text-align: center;
  font-size: 3em;}
